{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
    <link rel="shortcut icon" type="image/png" href="/static/favicon/favicon.ico">

    {% block title %}
        {{ title }} | Barkley Analytics
    {% endblock %}

    {% block styles %}
        {{super()}}
        <style>
        .lelbron {
        width: 28px;
        height: 40px;
        }
        .navbar-brand{
        padding: 0px;
        padding-top: 4.5px;
        padding-left: 7.5px;
        padding-right: 7.5px;
        }
        .dropdown.hov:hover>.dropdown-menu {
        display: block;
        }
        .navbar-right{
        margin-left: 0px;
        }

        /*the container must be positioned relative:*/
        .autocomplete {
          position: relative;
          display: inline-block;
        }
        .autocomplete-items {
          position: absolute;
          border: 1px solid #d4d4d4;
          border-bottom: none;
          border-top: none;
          z-index: 99;
          /*position the autocomplete items to be the same width as the container:*/
          top: 100%;
          left: 0;
          right: 0;
        }
        .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
          background-color: #fff;
          border-bottom: 1px solid #d4d4d4;
        }
        /*when hovering an item:*/
        .autocomplete-items div:hover {
          background-color: #e9e9e9;
        }
        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
          background-color: DodgerBlue !important;
          color: #ffffff;
        }
        .autocomplete-items
        {
           max-height: 410px;
           overflow: auto;
           width: 300px;
        }
        input[type=text] {
        width: 300px;
        }
        </style>
    {% endblock %}
{% endblock %}


{% block body %}
    {% block navbar %}
        <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">
                  <img class= "lelbron" alt="Brand" src="/static/favicon/barkley.png" title="Sir Charles Barkley!">
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="#">About</a></li>
                <li><a class="api" href="#">API</a></li>
                <li class="dropdown hov">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Play Index<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/pgf">Player Game Finder</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/tgf">Team Game Finder</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/h2h">Head2Head Finder</a></li>
                  </ul>
                </li>
                <ul class="nav navbar-form navbar-right">
                    <form autocomplete="off" action="/action_page.php">
                      <div class="autocomplete">
                        <input id="myInput" type="text" name="myCountry" placeholder="Search Player">
                      </div>
                    </form>
                </ul>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block scripts %}
        <script src="{{url_for('static', filename='menu.js')}}"></script>
        <script type="text/javascript">
            autocomplete(document.getElementById("myInput"), {{players|tojson}},
             {{from_years|tojson}}, {{to_years|tojson}}, {{ids|tojson}});
        </script>
        {{ super() }}
    {% endblock %}
{% endblock %}

